.login-container {
    width: 500px;
    margin: 1px auto;
}
.login-button {
    width: 500px;
}
/* 중복아이디 존재하지 않는경우 */
.id_input_re_1{
    color : green; display : none;
}
/* 중복아이디 존재하는 경우 */
.id_input_re_2{
    color : red; display : none;
}

.un_ck{
    display: none;
}
.em_ck{
    display: none;
}
.pa_ch{
    display: none;
}
.cp_ck{
    display: none;
}

/* 비밀번호 확인 일치 유효성검사 */
.pwck_input_re_1{
    color : green;
    display : none;
}
.pwck_input_re_2{
    color : red;
    display : none;
}

