.jumbotron {
    padding: 48px 0;
    margin-bottom: 30px;
    background-color: #eee;
}
.jumbotron-wrap {
    width: 500px;
    margin: 1px auto;
}
.jumbotron-wrap > h1 {
    font-size: 63px;
    padding-left: 85px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
    font-weight: 500;
}
.jumbotron-wrap > p {
    padding-left: 105px;
    font-size: 21px;
    font-weight: 200;
}
.middle-wrap {
    width: 500px;
    margin: 10px auto;
}
.footer-wrap {
    width: 520px;
    margin: 50px auto;
    padding-left: 10px;
}
.card-line {
    background-color: whitesmoke;
    border-radius: 5px;
    border: black 1px solid;
    margin-bottom: 10px;
}
.card-header,
.middle-wrap-button{
    display: flex;
    justify-content: space-between;
}

.card > .card-header {
    /*text-align: right;*/
    font-size: smaller;
}
.card-body > h5, .card-body > p {
    font-size: large;
}

.btn-primary-sub{
    margin-top: 10px;
}
.card-title-font {
    color: deepskyblue;
}
.card-line:hover {
    border: red 2px solid;
}
.card-title,
.card-header {
    border-bottom: black 1px solid;
}

.username,
.card-title,
.card-text{
    margin-left: 5px;
}

.date {
    margin-right: 5px;
}

.zoom {
    transition: transform .3s; /* Animation */;
    /*margin: 0 auto;*/
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.footer-container {
    width: 100%;
    height: 1000vh;
    background-color: #EAEAEA;
}
.footer-container-comment-wrap {
    width: 500px;
    margin: 10px auto;
}
.footer-wrap > .card {
    margin-right: 40px;
}
.comment-btn {
    margin-top: 10px;
    margin-left: 10px;
    width: 470px;
}