.jumbotron-wrap {
    width: 500px;
    margin: 1px auto;
}
.middle-wrap {
    width: 500px;
    margin: 10px auto;
}
.footer-wrap {
    width: 520px;
    margin: 50px auto;
    padding-left: 10px;
}
.jumbotron-wrap > h1 {
    padding-left: 80px;
}
.jumbotron-wrap > p {
    padding-left: 100px;
}
.card-line {
    background-color: whitesmoke;
    border-radius: 5px;
    border: black 1px solid;
    margin-bottom: 20px;
}
.card-header,
.middle-wrap-button{
    display: flex;
    justify-content: space-between;
}

.card > .card-header {
    /*text-align: right;*/
    font-size: smaller;
}
.card-body > h5, .card-body > p {
    font-size: large;
}

.btn-primary-sub{
    margin-top: 10px;
}
.card-title-font {
    color: deepskyblue;
}
.card-line:hover {
    border: red 2px solid;
}
.card-title,
.card-header {
    border-bottom: black 1px solid;
}

.username,
.card-title,
.card-text{
    margin-left: 5px;
}

.date {
    margin-right: 5px;
}

.zoom {
    transition: transform .3s; /* Animation */;
    /*margin: 0 auto;*/
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}